/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[5].use[3]!./src/app/components/Card.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__H0Snm{
    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    box-shadow: 2px 2px 5px grey;
    width: 300px;
}

.Card_card__H0Snm > img, .Card_card__H0Snm > video{
    border-radius: 10px;
}

.Card_content__5oOR6{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    color: var(--foreground);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.Card_title__vj0WA{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.Card_description__SK7Pg{
    font-size: 1em;
    text-align: center;
    color: var(--muted-foreground);
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[5].use[3]!./src/app/WorkSamples/WorkSamples.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.WorkSamples_section__FBVL0{
    
}

.WorkSamples_container___7Odv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.WorkSamples_article__15HOI{
    margin-bottom: 100px;
}

.WorkSamples_sectionTitle__SOFDs{
    font-weight: bold;
}

.WorkSamples_header__3rpaO{
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw;
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 50px;
}

.WorkSamples_headerLine__3i0Wq{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto;
    font-weight: bold;
    color: var(--foreground);
    text-align: left;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.WorkSamples_headerLine__3i0Wq > .WorkSamples_span__QpWJG{
    color: var(--foreground-highlight);
    font-size: 1em;
}

.WorkSamples_headerLine__3i0Wq > .WorkSamples_h2__vPdV1{
    font-size: 1.2em;
    font-weight: bold;
}

span > .WorkSamples_separator__xzgoS{
    color: var(--foreground-highlight);
}

.WorkSamples_iFrameOverlay__nEpDY{
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.WorkSamples_iFrameOverlay__nEpDY > img{ 
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.WorkSamples_btnClose__ghtad{
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    display: none;
}

@media screen and (max-width: 768px) {
    .WorkSamples_btnClose__ghtad{
        display: block;
    }
}
