/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[5].use[3]!./src/app/Projects/Projects.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Projects_section__V_J4W{
    margin-top: 100px;
    background-color: var(--background-secondary);
}

.Projects_container__N349Z{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.Projects_article__vnXTo{
    margin-bottom: 100px;
}

.Projects_sectionTitle__eq2lS{
    font-weight: bold;
}

.Projects_header__6KS5_{
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw;
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 50px;
}

.Projects_headerLine____T_V{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto;
    font-weight: bold;
    color: var(--foreground);
    text-align: left;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.Projects_headerLine____T_V > .Projects_span__wBPrk{
    color: var(--foreground-highlight);
    font-size: 1em;
}

.Projects_headerLine____T_V > .Projects_h2__x6cKp{
    font-size: 1.2em;
    font-weight: bold;
}

span > .Projects_separator__xZDY9{
    color: var(--foreground-highlight);
}

.Projects_iFrameOverlay__nBGQN{
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.Projects_iframe___kVkO{
    overflow: hidden;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[15].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[15].oneOf[5].use[3]!./src/app/components/Card.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__H0Snm{
    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    box-shadow: 2px 2px 5px grey;
    width: 300px;
}

.Card_card__H0Snm > img, .Card_card__H0Snm > video{
    border-radius: 10px;
}

.Card_content__5oOR6{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    color: var(--foreground);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.Card_title__vj0WA{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.Card_description__SK7Pg{
    font-size: 1em;
    text-align: center;
    color: var(--muted-foreground);
}
