.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image{
    max-width:100%; 
    /* height:auto; */
}

.gallery-image img{
    height: 100%;
}

.gallery-image video{
    width: 100%;
}

/* LIGHTBOX */
.lightbox{
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
}

.lightbox img{
    place-self: center;
}

.lightbox-email{
    height: unset;
}

.gallery-image iframe{
    width: 50vw;
    height: 70vh;
}